extends ../../templates/master.jade


block vars
    -var pageTitle = "Vuid - Case study"
    -var color = "sparkpass-blue"

append css
    link.ajaxInclude( href="#{cssPath}work/sparkpass.css" rel="stylesheet" type="text/css" )
    script.ajaxInclude(src="/js/work/sparkpass.js")
    
block body
    section.header
        svg(class="bolt" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="271.5px" height="520.5px" viewBox="0 0 271.5 520.5" style="enable-background:new 0 0 271.5 520.5;" xml:space="preserve")
            polygon(points="0,520.5 112,250.3 0,250.3 122.2,0 234.2,0 144.2,184.6 271.5,184.6 ")
        h1.fs-jumbo.c-beige.align-center Sparkpass              

    section.intro
        .wrapper
            .float
                h4 overview
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit delectus ab, repellendus ipsa ea! Vero, unde. Repellendus qui aspernatur dignissimos aliquid, inventore alias nulla, quam reprehenderit asperiores dolores hic!
        
            .float
                h4 Client
                a.db.logo(href="http://uqidea.com/")
                    img(src="#{imgPath}work/sparkpass/idea-network.svg", alt="Idea Network")
                    
            .break
            
    section.process.bg-sparkpass-blue
        .bg-sparkpass-blue.c-sparkpass-yellow
            .wrapper
                ol.process
                    li
                        img(src="#{imgPath}work/sparkpass/process-part1.svg", alt="Process part 1")
                    li
                        img(src="#{imgPath}work/sparkpass/process-part2.svg", alt="Process part 2")
                    li
                        img(src="#{imgPath}work/sparkpass/process-part3.svg", alt="Process part 3")
                
                .float
                    h4 Process
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, dignissimos. Similique, cupiditate, dicta! Quas similique consequuntur, iure libero minus itaque, neque dignissimos quod ratione sit error obcaecati natus recusandae sequi.
                    p.ta-r Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, dignissimos. Similique, cupiditate, dicta! Quas similique consequuntur, iure libero minus itaque, neque dignissimos quod ratione sit error obcaecati natus recusandae sequi.
                
                .break.yellow
                
        .por.card
            .hover-effect-3d( data-for="#final")
            .wrapper.container
                .final#final
                    img(src="#{imgPath}work/sparkpass/final.svg", alt="Sparkpass final")
    
        .mockup
            img(src="#{imgPath}work/sparkpass/mockup1.jpg", alt="Sparkpass mockup")
        .mockup
            img(src="#{imgPath}work/sparkpass/mockup2.jpg", alt="Sparkpass mockup")
