extends main

append content
    article.wrapper !{content}

    .related.wrapper
        a(href=`${prev.url}`)
            small Previous article
            span #{prev.title}
        a(href=`${next.url}`)
            small Next article
            span #{next.title}
    .profile.wrapper
        img.f-left(src=`${imgPath}profile.jpg` alt="Tristan Matthias")
        h4 Tristan Matthias
        small.ff-title Designer, developer, and amateur philosopher.

    .wrapper.ta-c
        include ../partials/signup-form
        include ../partials/facebook-comments
