extends ../templates/master.jade

block vars
    -var pageTitle = "Work"
    -var color = "green"

append css
    link(rel="stylesheet", href="#{cssPath}work.css")
block body
    .wrapper
        section.top.por
            h1.fs-massive.ani-slide-down.ani-delay-1 
                span Featured 
                span Works
                span
                
            h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        
        
        .clear
        section.work
            .grid.c3
                each job, name in work
                    a.grid-item(
                        href="/work/#{name}" 
                        id="sq-#{name}"
                        data-color-background="bg-#{job.background || 'white'}"
                    )
                        img.preview(src="#{imgPath}work/#{name}/#{job.preview || 'preview.svg'}")
                        .content.bg-white
                            h4= job.name
                            p= job.description
                .placeholder
                    .front
                    .back
        .modal
            //- h1 Hey this works!
            button.close Close
            .content
                
append js
    script.
        $(function() {
            var body = $('body');
            var sec = $('section.work');
            var grid = $('.grid', sec);
            var items = $('.grid-item', grid);
            var placeholderTemplate = $('.placeholder').clone();
            var placeholder = null;
            $(".placeholder").remove();
            var modal = $('.modal');
            var closeButton = $("button.close", modal);
            
            
            items.on('click', open);
            
            closeButton.on('click', close)
            
        
            function setPlaceholderToGrid() {
                var item = items.filter('.active');
                var pos = item.position();
                var css = {
                    left: pos.left,
                    top: pos.top,
                    height: item.height(),
                    width: item.width(),
                };
                
                placeholder.data('original', JSON.stringify(css));
                
                placeholder
                    .css(css);
            }
            
            function open(e) {
                e.preventDefault();
                var self = $(this);
                self.addClass('active');
                sec.addClass('open noClick');
                body.addClass('noScroll');
                
                placeholder = placeholderTemplate.clone().appendTo(grid);
                
                setPlaceholderToGrid();
                
                $('.preview', self)
                    .clone()
                    .appendTo(
                        $('.front', placeholder)
                    );
                
                var gridOffset = grid[0].getBoundingClientRect();
                
                $(".back").addClass(self.data("color-background"));
                $(".modal").addClass(self.data("color-background"));
                placeholder
                    .addClass("active")
                    .animate({
                        left: -gridOffset.left,
                        right: -gridOffset.right,
                        top: -gridOffset.top,
                        height: window.innerHeight,
                        width: window.innerWidth,
                    })
                
                var head = $("head");
                $.get(self.attr('href')).then(function(res) {
                    var p = new DOMParser();
                    var html = p.parseFromString(res, "text/xml");
                    var main = $("main", html);
                    var includes = $(".ajaxInclude", html);
                    includes.each(function(i, include) {
                        include = $(include);
                        var ele;
                        switch(include[0].tagName) {
                            case "link":
                                var ele = document.createElement('link'); 
                                ele.rel = 'stylesheet'; 
                                ele.href = include.attr("href");
                                break;
                            case "script":
                                var ele = document.createElement('script'); 
                                ele.src = include.attr("src");
                                break;
                        }
                        console.log(ele);
                        head[0].parentNode.insertBefore(ele, head[0]);
                    })
                    $(".content", modal).html(main.html());
                    modal.addClass('show');
                });
                    //- setTimeout(function() {
                    //- }, 1750);
                
            }
            
            function close() {
                var item = items.filter('.active');
                modal.attr('class', "modal");
                
                placeholder.removeClass('active');
                setTimeout(function() {
                    sec.removeClass('open');
                    item.removeClass('active');
                    setTimeout(function() {
                        sec.removeClass('noClick');
                        placeholder.remove();
                        body.removeClass('noScroll');
                    }, 500)
                }, 500)
                
                placeholder.css(
                    JSON.parse(placeholder.data('original'))
                ).css('right', 'auto');
                
            }
        })